@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        scroll-behaviour:smooth;

    }
    body{

        font-family:'Nunito',san-serif
        

    }
    

}
@layer components{
    .body{
        @apply
        dark:bg-slate-900
    }
    .nav{
        @apply
        fixed top-0 left-0 z-40
        bg-white/80 dark:bg-slate-900
        dark:text-white
        py-3 md:py-0
        w-full backdrop-blur
    }
    .calculator{
        @apply
        absolute
        top-40
        left-auto
        bg-slate-100
        shadow-indigo-500/40
        dark:shadow-indigo-500/40
        shadow-lg
        rounded
       
    }
    .screen{
        @apply
        bg-slate-900
        p-20
        rounded-t-md
        text-white
        text-lg
        dark:bg-slate-300
        dark:text-black
    }
    button{
        @apply
        w-20
        h-20
        text-center
        hover:bg-teal-500
        dark:bg-slate-900
        dark:text-white
        dark:hover:bg-teal-500
    }
 

}